@model AVAYardWeb.Models.Entities.OrderReceipt
@{
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}
@section Styles {
    <link href="~/css/bootstrap-editable/bootstrap-editable.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap-editable/inputs-ext/address/address.css" rel="stylesheet" type="text/css" />
    <style>
        #TaxAddress {
            resize: none;
            height: 50px;
        }

        .form-md-line-input {
            margin-block: 7px !important
        }
    </style>
}

<div class="col-md-12 col-lg-12">
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fad fa-pencil"></i>
                <span class="caption-subject bold uppercase"> แก้ไขใบเสร็จรับเงิน</span>
            </div>
        </div>

        @using (Html.BeginForm("EditData", "YardReceipt", FormMethod.Post, new { id = "frmEdit", onsubmit = "return OnValidate()" }))
        {
            @Html.HiddenFor(m => m.ReceiptCode)
            @Html.HiddenFor(m => m.ContainerNo)
            @Html.HiddenFor(m => m.ContainerSizeCode)
            @Html.HiddenFor(m => m.IssueSession)
            @Html.HiddenFor(m => m.ReceiptDate)
            @Html.HiddenFor(m => m.PaymentType)
            @Html.HiddenFor(m => m.Description)
            @Html.HiddenFor(m => m.Total)
            @Html.HiddenFor(m => m.Vat)
            @Html.HiddenFor(m => m.NetTotal)
            @Html.HiddenFor(m => m.BankName)
            @Html.HiddenFor(m => m.BankBranchName)
            @Html.HiddenFor(m => m.ChequeNo)
            @Html.HiddenFor(m => m.ChequeDate)
            @Html.HiddenFor(m => m.OrderCode)
            @Html.HiddenFor(m => m.PaymentCode)
            @Html.HiddenFor(m => m.IsTaxInvoice)
            @Html.HiddenFor(m => m.IsEnabled)
            @Html.HiddenFor(m => m.CreateDate)
            @Html.HiddenFor(m => m.CreateBy)
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-md-line-input">
                                <input type="text" class="form-control font-green" value="@Model.ReceiptCode" readonly>
                                <label>เลขที่ใบเสร็จรับเงิน</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-md-line-input">
                                <div class="input-group">
                                    <div class="input-group-control">
                                        <input type="text" class="form-control edited" id="container-no" value="@Model.ContainerNo" readonly>
                                        <label for="container-no">Container No.</label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" id="editContainerNo" onclick="editContainerNo()" class="btn font-yellow-gold" style="background:none;padding:0;">
                                            <i class="fad fa-pencil"></i>
                                        </a>
                                        <a href="javascript:;" id="cancelContainerNo" class="btn font-red" style="background:none;padding:0;display:none;">
                                            <i class="fa fa-times"></i>
                                        </a>
                                        <a href="javascript:;" id="saveContainerNo" class="btn font-blue" style="background:none;padding:0;display:none;">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group form-md-line-input">
                                <input type="text" class="form-control font-blue" value="@Model.ContainerSizeCodeNavigation.ContainerSizeName" readonly>
                                <label>Container Size.</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-md-line-input">
                                <div class="input-group">
                                    <div class="input-group-control">
                                        <input type="text" class="form-control edited" id="payment-total" value="@Model.Total" readonly>
                                        <label for="payment-total">จำนวนเงิน</label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" id="editTotal" class="btn font-yellow-gold" style="background:none;padding:0;">
                                            <i class="fad fa-pencil"></i>
                                        </a>
                                        <a href="javascript:;" id="cancelTotal" class="btn font-red" style="background:none;padding:0;display:none;">
                                            <i class="fa fa-times"></i>
                                        </a>
                                        <a href="javascript:;" id="saveTotal" class="btn font-blue" style="background:none;padding:0;display:none;">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-md-line-input">
                                <input type="text" class="form-control font-red" id="payment-vat" value="@Model.Vat.ToString("#,##0.00")" readonly>
                                <label>ภาษี</label>
                            </div>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group form-md-line-input">
                                <input type="text" class="form-control font-red" id="payment-net-total" value="@Model.NetTotal.ToString("#,##0.00")" readonly>
                                <label>ยอดเงินทั้งสิ้น</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>เลขประจำตัวผู้เสียภาษี</label>
                                @Html.TextBoxFor(m => m.TaxId, new { @Class = "form-control input-sm", autocomplete = "off" })
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group">
                                <label>ชื่อลูกค้า</label>
                                @Html.TextBoxFor(m => m.TaxName, new { @Class = "form-control input-sm", autocomplete = "off" })
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>ที่อยู่ออกใบเสร็จ</label>
                        @Html.TextAreaFor(m => m.TaxAddress, new { @Class = "form-control input-sm", autocomplete = "off" })
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <label>
                            หมายเหตุ
                        </label>
                        @Html.TextBox("Remark", Model.Remark, new { @Class = "form-control input-sm" })
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-actions">
                    <div class="row pull-right">
                        <div class="col-md-12">
                            <div class="tools-action">
                                <a href="javascript:;" onclick="window.close()">ปิด</a> |
                                <button type="submit" class="btn green">บันทึกข้อมูล</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="modal-form-content" style="display: none;">
    <div id="form-content"></div>
</div>
@section scripts
{
    <script type="text/javascript">
        (function($) {
            $("#frmEdit").ajaxForm(function(data) {
                killOverlayForm();
                if (data.result == true) {
                    $.alert.open('info', data.resultMessage, function(r) {
                        window.opener.reloadRow();
                        window.close();
                    });
                } else {
                    $.alert.open('error', data.resultMessage);
                }
            });

            $('#cancelTotal').click(function(){
                var total = $('#Total').val();
                $('#payment-total').val(total);
                $('#payment-total').prop('readonly', true);
                $('#editTotal').show();
                $('#cancelTotal').hide();
                $('#saveTotal').hide();
            });

            $('#editTotal').click(function(){
                $.post("/yardreceipt/isadmin", function (result) {
                    if(result)
                    {
                        $('#editTotal').hide();
                        $('#cancelTotal').show();
                        $('#saveTotal').show();

                        $('#payment-total').prop('readonly', false);
                        $('#payment-total').focus();
                    }
                });
            });

            $('#saveTotal').click(function(){
                var code = $('#ReceiptCode').val();
                var total = $('#payment-total').val();
                $.post("/yardreceipt/edititem", {
                    code: code,
                    decval: total,
                    item: 'total'
                }, function (data) {
                    if (data.result == true) {
                        $('#Total').val(total);
                        $('#Vat').val(data.vat);
                        $('#NetTotal').val(data.net_total);

                        $('#payment-vat').val(data.vat);
                        $('#payment-net-total').val(data.net_total);

                        $('#payment-total').prop('readonly', true);
                        $('#editTotal').show();
                        $('#cancelTotal').hide();
                        $('#saveTotal').hide();
                        window.opener.reloadRow();
                    } else {
                        $.alert.open('error', data.resultMessage);
                    }
                });
            });

            $('#cancelContainerNo').click(function(){
                var container = $('#ContainerNo').val();
                $('#container-no').val(container);
                $('#container-no').prop('readonly', true);
                $('#editContainerNo').show();
                $('#cancelContainerNo').hide();
                $('#saveContainerNo').hide();
            });

            $('#editContainerNo').click(function(){
                $.post("/yardreceipt/isadmin", function (result) {
                    if(result)
                    {
                        $('#editContainerNo').hide();
                        $('#cancelContainerNo').show();
                        $('#saveContainerNo').show();

                        $('#container-no').prop('readonly', false);
                        $('#container-no').focus();
                    }
                });
            });

            $('#saveContainerNo').click(function(){
                var code = $('#ReceiptCode').val();
                var container = $('#container-no').val();
                $.post("/yardreceipt/edititem", {
                    code: code,
                    strval: container,
                    item: 'container'
                }, function (data) {
                    if (data.result == true) {
                        $('#ContainerNo').val(container);
                        $('#container-no').prop('readonly', true);

                        $('#editContainerNo').show();
                        $('#cancelContainerNo').hide();
                        $('#saveContainerNo').hide();
                        window.opener.reloadRow();
                    } else {
                        $.alert.open('error', data.resultMessage);
                    }
                });
            });
        }(jQuery));

        function OnValidate() {

            var validateRules = {
                rules: {
                    TaxId: {
                      require: { type: "", message: "กรุณาพิมพ์เลขประจำตัวผู้เสียภาษี" }
                    },
                    TaxName: {
                      require: { type: "", message: "กรุณาพิมพ์ชื่อผู้รับใบเสร็จ" }
                    },
                    TaxAddress: {
                      require: { type: "", message: "กรุณาพิมพ์ที่อยู่" }
                    }
                }
            };

            var ok = $("#frmEdit").validate(validateRules);

            if (ok) {
                overLayForm();
                return true;
            }
            return false;
        }
    </script>
}