@model AVAYardWeb.Models.OrderContainerModel
@{
    Layout = null;
    var dirty = Model.check_result.Where(w => w.CheckedResult == "Dirty").FirstOrDefault();
    var damaged = Model.check_result.Where(w => w.CheckedResult == "Damaged").FirstOrDefault();
    var dent = Model.check_result.Where(w => w.CheckedResult == "Dent").FirstOrDefault();
    var hole = Model.check_result.Where(w => w.CheckedResult == "Hole").FirstOrDefault();
    var cut = Model.check_result.Where(w => w.CheckedResult == "Cut").FirstOrDefault();
    var bruise = Model.check_result.Where(w => w.CheckedResult == "Bruise").FirstOrDefault();
    var missing = Model.check_result.Where(w => w.CheckedResult == "Missing").FirstOrDefault();
    var broken = Model.check_result.Where(w => w.CheckedResult == "Broken").FirstOrDefault();

    var fileCheck = Model.file_result.Where(w => w.FileType == "drawn").ToList();
}
<link rel="stylesheet" type="text/css" href="~/css/print/printform.css" media="print">
<style>
    body {
        background: #fff;
    }

    label {
        font-size: 13px;
    }

    .page {
        padding: 0.5cm;
        font: 10pt "Tahoma", Times, serif;
        z-index: 1000;
        width: 100%;
    }

    .form-wrap {
        padding: 7px;
    }

    .content-detail {
        border: 1px solid #979797;
        width: 96.5% !important;
        padding-bottom: 15px;
        padding-left: 7px;
        padding-right: 7px;
    }

    .m-2 {
        border-top: none !important;
    }

    .mt-3 {
        margin-left: 30px;
    }

    .form-detail {
        border-bottom: 1px solid #ccc;
        font-size: 14px;
    }

    .header-col-1 {
        width: 150px;
        float: left;
        display: inline-block;
    }

    .header-col-6 {
        width: 400px;
        float: left;
        display: inline-block;
    }

    .company-name {
        font-size: 16px;
        font-weight: bold;
    }

    .company-detail {
        font-size: 13px !important;
    }

    .topic-name {
        margin-top: 20px;
        margin-bottom:10px;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        display: inline-block !important;
    }

    .pull-right {
        float: right;
    }

    div.en {
        font-size: 11px !important;
    }

    div.th {
        font-size: 12px
    }

    .box-topic-wrapper {
        text-align: right;
        margin-top: 15px;
        color: #80807f;
        display: inline-block;
        font-size: 14px;
    }

    .box-topic-wrapper-sm {
        text-align: right;
        width: 30px !important;
        margin-top: 15px;
        color: #80807f;
        display: inline-block;
        font-size: 14px;
    }

    .box-topic-wrapper {
        width: 110px;
    }

    .box-container-result {
        display: inline-block;
    }

    .box-container-right {
        margin-left: 20px;
    }

    .box-container-left, .box-container-right {
        display: inline-block;
    }

    .box-content-wrapper {
        padding-left: 20px;
        display: inline-block;
        font-size: 14px;
        width: 180px;
        border-bottom: 1px solid #ccc;
    }

    .box-content-wrapper-lg {
        position: relative;
        left: 40px;
        top: 7px;
        display: inline-block;
        font-size: 14px;
    }

    .box-content-wrapper-sm {
        padding-left: 20px;
        display: inline-block;
        font-size: 14px;
        width: 80px;
        border-bottom: 1px solid #ccc;
    }

    .box-container-result {
        margin-top: 10px;
    }

    .font-dark {
        color: black;
    }

    .bold {
        font-weight: bold;
    }

    .item-box {
        border: 1px solid #000;
        width: 15px;
        height: 15px;
        text-align: center;
        display: inline-block;
        position: relative;
        top: 7px;
    }

        .item-box span {
            font-size: 16px;
            position: relative;
            top: -5px;
        }

    .item-box-detail {
        display: inline-block;
    }

    .box-container-result{
        margin-left:30px;
    }
    .wrap-box-detail {
        position: relative;
        top: 7px;
        left: 3px;
    }

    .container-result {
        display: inline-block;
    }

    .img-display{
        margin-top:10px;
        display:inline-block;
    }

    .weight-detail{
        padding-top:8px;
        font-size:14px;    
    }
    .weight-detail div.weight-topic {width:150px!important;display:inline-block}
    .weight-detail div.weight-detail{ text-align:right;width:100px;display:inline-block}

    .bottom-content{padding-top:15px;}
    .bottom-content .en, .bottom-content .th{display:inline-block;}

    .bottom-sign-content{margin-top:30px;}

    .sign-topic-content,.wrapper-sign{display:inline-block}
    .sign-content{width:200px;border-bottom:1px solid #979797;display:inline-block;}
    @@media all {
        .page-break {
            display: none;
        }
    }

    @@media print {
        html, body {
            height: 99%;
        }
    }

    @@media print {
        .page-break {
            display: block;
            page-break-before: always;
        }
    }
</style>

<div class="page">
    <div class="form-content">
        <div class="top-header">
            @{
                Html.RenderPartial("HeaderPdf");
            }
        </div>
        <br />
        <div class="topic-name">
            <div style="font-size:16px;font-weight:bold;">ใบตรวจรับสภาพตู้คอนเทนเนอร์</div>
            <div style="font-size:14px;font-weight:bold;">CONTAINER INTERCHANGE RECEIPT</div>
        </div>
 
        <div class="content-detail">
            <div class="box-wrapper">
                <div class="box-container-left">
                    <div class="box-topic-wrapper">
                        <div class="en">AGENT</div>
                        <div class="th">เอเย่นต์</div>
                    </div>
                    <div class="box-content-wrapper">
                        <div>@Model.agent_name</div>
                    </div>
                </div>
                <div class="box-container-right pull-right">
                    <div class="box-topic-wrapper">
                        <div class="en">DATE</div>
                        <div class="th">วันที่</div>
                    </div>
                    <div class="box-content-wrapper-sm">
                        <div>@Model.issue_date.ToString("dd/MM/yyyy")</div>
                    </div>

                    <div class="box-topic-wrapper-sm">
                        <div class="en">TIME</div>
                        <div class="th">เวลา</div>
                    </div>
                    <div class="box-content-wrapper-sm">
                        <div>@Model.issue_date.ToString("HH:mm:ss")</div>
                    </div>
                </div>
            </div>

            <div class="box-wrapper">
                <div class="box-container-left">
                    <div class="box-topic-wrapper">
                        <div class="en">CONTAINER NO</div>
                        <div class="th">หมายเลขตู้สินค้า</div>
                    </div>
                    <div class="box-content-wrapper">
                        <div>@Model.container_no</div>
                    </div>
                </div>
                <div class="box-container-right">
                    <div class="box-topic-wrapper">
                        <div class="en">BOX TYPE</div>
                        <div class="th">ขนาดตู้สินค้า</div>
                    </div>
                    <div class="box-content-wrapper-sm">
                        <div>@Model.container_type</div>
                    </div>
                </div>
            </div>
            @if(Model.seal_no != "-")
            {
                <div class="box-wrapper">
                    <div class="box-container-left">
                        <div class="box-topic-wrapper">
                            <div class="en">SEAL NO</div>
                            <div class="th">เลขซีล</div>
                        </div>
                        <div class="box-content-wrapper">
                            <div>@Model.seal_no</div>
                        </div>
                    </div>
                </div>
            }
            <div class="box-wrapper">
                <div class="box-container-left">
                    <div class="box-topic-wrapper">
                        <div class="en">TRUCK LICENSE</div>
                        <div class="th">ทะเบียนรถ</div>
                    </div>
                    <div class="box-content-wrapper-sm">
                        <div>@Model.truck_license</div>
                    </div>
                </div>
                <div class="box-container-right">
                    <div class="box-topic-wrapper">
                        <div class="en">TRAILER LICENSE</div>
                        <div class="th">ทะเบียนพ่วง</div>
                    </div>
                    <div class="box-content-wrapper-sm">
                        <div>@Model.trailer_license</div>
                    </div>
                </div>
            </div>

            <div class="box-wrapper">
                <div class="box-container-left">
                    <div class="box-topic-wrapper">
                        <div class="en">CONSIGNEE</div>
                        <div class="th">ลูกค้า</div>
                    </div>
                    <div class="box-content-wrapper" style="width:500px;">
                        <div>@Model.transportation_name</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-detail m-2">
            <div class="box-wrapper">
                <div class="box-container-left">
                    <div class="box-topic-wrapper-sm">
                        <div class="en">CONTAINER</div>
                    </div>
                    <div class="box-content-wrapper-lg">
                        <div class="en">
                            Mark clearly all damages or deficiencies on the appropriate plan. Further damages note below. Also see Remarks Column
                        </div>
                        <div class="th">
                            ระบุความเสียหายหรือข้อบกพร่องให้ชัดเจนบนภาพ ความเสียหายอื่น ๆ เพิ่มเติมให้เขียนไว้ด้านล่างหรือระบุในช่องหมายเหตุด้านล่าง
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="box-wrapper">
                <div class="box-container-left">
                    <div class="box-topic-wrapper-sm">
                        <div class="en">ตู้สินค้า</div>
                    </div>
                    <div class="box-content-wrapper-lg">
                        <div class="en">
                            Use the following codes
                        </div>
                        <div class="th">
                            หมายเหตุความเสียหาย
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-wrapper">
                <div class="box-container-result">
                    <div class="container-result">
                        <div class="item-box">
                            @if (dirty != null)
                            {
                                <span>&#10003;</span>
                            }
                            else
                            {
                                <span>&nbsp;</span>
                            }
                        </div>
                        <div class="item-box-detail">
                            <div class="wrap-box-detail">
                                <div class="en">
                                    Dirty
                                </div>
                                <div class="th">
                                    ตู้สกปรก
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-result mt-3">
                        <div class="item-box">
                            @if (damaged != null)
                            {
                                <span>&#10003;</span>
                            }
                            else
                            {
                                <span>&nbsp;</span>
                            }
                        </div>
                        <div class="item-box-detail">
                            <div class="wrap-box-detail">
                                <div class="en">
                                    Damaged
                                </div>
                                <div class="th">
                                    ตู้เสีย
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-result mt-3">
                        <div class="item-box">
                            @if (dent != null)
                            {
                                <span>&#10003;</span>
                            }
                            else
                            {
                                <span>&nbsp;</span>
                            }
                        </div>
                        <div class="item-box-detail">
                            <div class="wrap-box-detail">
                                <div class="en">
                                    Dent
                                </div>
                                <div class="th">
                                    งอ
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-result mt-3">
                        <div class="item-box">
                            @if (hole != null)
                            {
                                <span>&#10003;</span>
                            }
                            else
                            {
                                <span>&nbsp;</span>
                            }
                        </div>
                        <div class="item-box-detail">
                            <div class="wrap-box-detail">
                                <div class="en">
                                    Hole
                                </div>
                                <div class="th">
                                    รูทะลุ
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-result mt-3">
                        <div class="item-box">
                            @if (cut != null)
                            {
                                <span>&#10003;</span>
                            }
                            else
                            {
                                <span>&nbsp;</span>
                            }
                        </div>
                        <div class="item-box-detail">
                            <div class="wrap-box-detail">
                                <div class="en">
                                    Cut
                                </div>
                                <div class="th">
                                    ฉีก
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-result mt-3">
                        <div class="item-box">
                            @if (bruise != null)
                            {
                                <span>&#10003;</span>
                            }
                            else
                            {
                                <span>&nbsp;</span>
                            }
                        </div>
                        <div class="item-box-detail">
                            <div class="wrap-box-detail">
                                <div class="en">
                                    Bruise
                                </div>
                                <div class="th">
                                    บี้
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-result mt-3">
                        <div class="item-box">
                            @if (missing != null)
                            {
                                <span>&#10003;</span>
                            }
                            else
                            {
                                <span>&nbsp;</span>
                            }
                        </div>
                        <div class="item-box-detail">
                            <div class="wrap-box-detail">
                                <div class="en">
                                    Missing
                                </div>
                                <div class="th">
                                    สูญหาย
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-result mt-3">
                        <div class="item-box">
                            @if (broken != null)
                            {
                                <span>&#10003;</span>
                            }
                            else
                            {
                                <span>&nbsp;</span>
                            }
                        </div>
                        <div class="item-box-detail">
                            <div class="wrap-box-detail">
                                <div class="en">
                                    Broken
                                </div>
                                <div class="th">
                                    แตก
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="content-detail m-2" style="text-align:center;padding-top:10px;">
            <div>
                @foreach (var item in fileCheck)
                {
                    string imagePath = "C:/Users/bcloud_admin/Documents/Solutions/DotNet Core 9/AVA Global Logistics/AVAYardApp/wwwroot/" + item.FilePath + "/" + item.FileName;
                    byte[] imageBytes = System.IO.File.ReadAllBytes(imagePath);
                    string imgbase = "data:image/jpeg;base64," + Convert.ToBase64String(imageBytes);

                    <img src="@imgbase" width="200" />
                }
            </div>
        </div>

        <div class="content-detail m-2">
            <div class="weight-detail">
                <div class="weight-topic">Max Gross Weight</div>
                <div class="weight-detail">@Model.gross_weight.ToString("#,##0") KGS</div>
            </div>
            <div class="weight-detail">
                <div class="weight-topic">Tare Weight</div>
                <div class="weight-detail">@Model.tare_weight.ToString("#,##0") KGS</div>
            </div>
        </div>

        <div class="content-detail m-2">
            <div class="bottom-content">
                <div class="en">THE CONTAINER LISTED ABOVE IS RECEIVED IN GOOD ORDER EXCEPT WHERE NOTE</div> 
                <div class="th">ได้รับตู้ดังกล่าวข้างต้นในสภาพเรียบร้อยเว้นแต่ที่ได้ระบุ</div>
            </div>
            
            <div class="bottom-sign-content">
                <div class="wrapper-sign">
                    <div class="sign-topic-content">
                        <div class="en">FOR RECEIVER</div>
                        <div class="th">ลายเซ็นต์ผู้รับมอบ</div>
                    </div>
                    <div class="sign-content"></div>
                </div>
                <div class="wrapper-sign pull-right" style="margin-right:20px;margin-top:10px;">
                    <div class="sign-topic-content">
                        <div class="th">เบอร์โทร</div>
                    </div>
                    <div class="sign-content"></div>
                </div>
            </div>
        </div>
    </div>
</div>