@model AVAYardWeb.Models.Entities.TransTransportation
@{
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}

<div class="col-md-12 col-lg-12">
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fad fa-pencil"></i>
                <span class="caption-subject bold uppercase">แก้ไขข้อมูล</span>
            </div>
        </div>
        @using (Html.BeginForm("EditData", "Transportation", FormMethod.Post, new { id = "frmEdit", onsubmit = "return OnValidate()" }))
        {
            @Html.HiddenFor(m => m.TransportationCode)
            @Html.HiddenFor(m => m.IsActived)
            @Html.HiddenFor(m => m.IsEnabled)
            @Html.HiddenFor(m => m.CreateDate)
            @Html.HiddenFor(m => m.CreateBy)
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label>
                                            ชื่อ
                                            <span class="required"> * </span>
                                        </label>
                                        @Html.TextBoxFor(m => m.TransportationName, new { Class = "form-control input-sm", autocomplete = "Off" })
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>
                                            อักษรย่อ
                                            <span class="required"> * </span>
                                        </label>
                                        @Html.TextBoxFor(m => m.TransportationAcronym, new { Class = "form-control input-sm", autocomplete = "Off" })
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>
                                            เบอร์โทรศัพท์
                                        </label>
                                        @Html.TextBoxFor(m => m.Phone, new { Class = "form-control input-sm", autocomplete = "Off" })
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label>
                                    ที่อยู่
                                </label>
                                @Html.TextBoxFor(m => m.Address, new { Class = "form-control input-sm", autocomplete = "Off" })
                                <span class="help-block"></span>
                            </div>

                            <div class="form-group">
                                <label>
                                    หมายเหตุ
                                </label>
                                @Html.TextBoxFor(m => m.Remark, new { Class = "form-control input-sm", autocomplete = "Off" })
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <div class="row pull-right">
                        <div class="col-md-12">
                            <div class="tools-action">
                                <a href="javascript:;" onclick="window.close()">ยกเลิก</a> |
                                <button type="submit" class="btn green">บันทึกข้อมูล</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        (function($) {
            $("#frmEdit").ajaxForm(function(data) {
                killOverlayForm();
                if (data.result == true) {
                    $.alert.open('info', data.resultMessage, function(r) {
                        window.close();
                        window.opener.reloadRow();
                    });
                } else {
                    $.alert.open('error', data.resultMessage);
                }
            });
        }(jQuery));

        function OnValidate() {
            var validateRules = {
                rules: {
                    TransportationName: {
                      require: { type: "", message: "กรุณาพิมพ์ชื่อบริษัทขนส่ง" },
                      minlength: { type: "", value: 5, message: "ชื่อบรษัทขนส่งอย่างน้อย 5 ตัวอักษร" }
                    },
                    TransportationAcronym: {
                      require: { type: "", message: "กรุณาพิมพ์อักษรย่อ" },
                      minlength: { type: "", value: 3, message: "อักษรย่ออย่างน้อย 3 ตัวอักษร" }
                    }
                }
            };

            var ok = $("#frmEdit").validate(validateRules);

            if (ok) {
                overLayForm();
                return true;
            }
            return false;
        }
    </script>
}