<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ระบบรับฝากตู้สินค้า | AVA Global Logistics</title>
    <link rel="icon" href="~/images/logo-icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="~/fonts/simple-line-icon/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/fonts/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/css/site/components.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/autocomplete/easy-autocomplete.css" rel="stylesheet" type="text/css" />
    <link href="~/css/alert/alert.css" rel="stylesheet" type="text/css" />
    <link href="~/css/alert/theme.css" rel="stylesheet" type="text/css" />
    <link href="~/css/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/datatables/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/css/datetime/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site/loading-spin.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Site.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", required: false)
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white page-sidebar-closed">
    <div class="page-wrapper">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                </div>
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
                    data-target=".navbar-collapse">
                    <span></span>
                </a>
                <a href="javascript:;" class="logo-content">
                </a>

                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                data-close-others="true">
                                <img alt="" class="img-circle" src="@this.GetAvatar()" />
                                <span class="username username-hide-on-mobile"> @this.GetDisplayName() </span>
                            </a>
                        </li>

                        <li class="dropdown dropdown-quick-sidebar-toggler">
                            <a href="/authentication/logoff" class="dropdown-toggle">
                                <i class="icon-logout"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>

        <div class="page-container">
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="sidebar-toggler-wrapper hide">
                            <div class="sidebar-toggler">
                                <span></span>
                            </div>
                        </li>
                        <li class="nav-item start @ViewData["Home"]">
                            <a href="/" class="nav-link nav-toggle">
                                <i class="fad fa-home"></i>
                                <span class="title">หน้าหลัก</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item @ViewData["Transportation"]">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fad fa-users"></i>
                                <span class="title">ลูกค้า</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item @ViewData["listTransportation"]">
                                    <a href="/transportation/" class="nav-link">
                                        รายชื่อลูกค้า
                                    </a>
                                </li>
                                <li class="nav-item @ViewData["listTax"]">
                                    <a href="/tax/" class="nav-link">
                                        รายชื่อที่อยู่ใบกำกับภาษี
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item start @ViewData["Agent"]">
                            <a href="/agent/" class="nav-link nav-toggle">
                                <i class="fad fa-user-tie"></i>
                                <span class="title">เอเจน</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item @ViewData["TruckContainer"]">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fad fa-truck-container"></i>
                                <span class="title">รับตู้/คืนตู้</span>
                                <span class="selected"></span>
                                <span class="arrow @ViewData["OpenTruckContainer"]"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item @ViewData["listDropJob"]">
                                    <a href="/ordercontainer/drop" class="nav-link">
                                        Drop Container
                                    </a>
                                </li>
                                <li class="nav-item @ViewData["listMatchJob"]">
                                    <a href="/ordercontainer/match" class="nav-link">
                                        Match Container
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item @ViewData["YardContainer"]">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fad fa-container-storage"></i>
                                <span class="title">ตู้สินค้าในลาน</span>
                                <span class="selected"></span>
                                <span class="arrow @ViewData["OpenYardContainer"]"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item @ViewData["listDropInyard"]">
                                    <a href="/containeryard/drop" class="nav-link">
                                        Drop Container
                                    </a>
                                </li>
                                <li class="nav-item @ViewData["listMatchInyard"]">
                                    <a href="/containeryard/match" class="nav-link">
                                        Match Container
                                    </a>
                                </li>
                                <li class="nav-item @ViewData["listHistory"]">
                                    <a href="/historycontainer/" class="nav-link ">
                                        <span class="title">ประวัติการทำรายการ</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item start @ViewData["Receipt"]">
                            <a href="/yardreceipt/" class="nav-link nav-toggle">
                                <i class="fad fa-file-invoice"></i>
                                <span class="title">ใบเสร็จรับเงิน</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="page-content-wrapper">
                <div class="page-content">
                    @RenderBody()
                </div>
            </div>
            <div class="page-footer">

            </div>
        </div>
    </div>
    <script src="~/js/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/jquery/jquery-ui.js" type="text/javascript"></script>
    <script src="~/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/autocomplete/jquery.easy-autocomplete.js" type="text/javascript"></script>
    <script src="~/js/jquery/jquery.animateNumber.js" type="text/javascript"></script>
    <script src="~/js/jquery/jquery.simplemodal.js" type="text/javascript"></script>
    <script src="~/js/jquery/jquery.form.js"></script>
    <script src="~/js/alert/alert.js"></script>
    <script src="~/js/site/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/js/jquery/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/js/jquery/jquery.blockui.js" type="text/javascript"></script>
    <script src="~/js/bootstrap/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/js/site/app.min.js" type="text/javascript"></script>
    <script src="~/js/site/layout.min.js" type="text/javascript"></script>
    <script src="~/js/site/demo.min.js" type="text/javascript"></script>
    <script src="~/js/site/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/js/site/quick-nav.min.js" type="text/javascript"></script>
    <script src="~/js/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/js/datatables/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/js/jquery/jquery.datetimepicker.js" type="text/javascript"></script>
    <script src="~/js/site/validations.script.js" type="text/javascript"></script>
    <script src="~/js/site/app-scripts.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
@functions {
    private string GetAvatar()
    {
        var data = User.Claims.Where(w => w.Type == "avatar").FirstOrDefault();
        if(data !=null)
        {
            return data.Value;
        }
        else{
            return "../images/default_avatar.jpg";
        }
    }

    private string GetDisplayName()
    {
        var data = User.Claims.Where(w => w.Type == "displayname").FirstOrDefault();
        if(data !=null)
        {
            return data.Value;
        }
        else{
            return User.Identity.Name;
        }
    }
}

<!--https://preview.keenthemes.com/metronic-v4/theme/admin_1/table_static_basic.html-->