@model AVAYardWeb.Models.Entities.TransContainerSize
@{
    ViewBag.TopActive = "Base";
    ViewBag.MidActive = "agent";
    ViewBag.Title = "ข้อมูลเอเจนท์";
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:;">ข้อมูลหลัก</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:;">ข้อมูลเอเจนท์</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/containertype/edit/@Model.ContainerSizeCode">แก้ไข</a>
        </li>
    </ul>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-lg-12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fad fa-pencil"></i>
                    <span class="caption-subject bold uppercase"> แก้ไขข้อมูลเอเจนท์</span>
                    <span class="caption-helper">[รหัส @Model.ContainerTypeCode]</span>
                </div>
            </div>
            @using (Html.BeginForm("EditData", "ContainerType", FormMethod.Post, new { id = "frmEdit", onsubmit = "return OnValidate()" }))
            {
                @Html.HiddenFor(m => m.ContainerSizeCode)
                @Html.HiddenFor(m => m.IsActived)
                @Html.HiddenFor(m => m.IsEnabled)
                @Html.HiddenFor(m => m.CreateDate)
                @Html.HiddenFor(m => m.CreateBy)
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>
                                        ชื่อ
                                        <span class="required"> * </span>
                                    </label>
                                    @Html.TextBoxFor(m => m.ContainerSizeName, new { id = "txtName", Class = "form-control", autocomplete = "Off" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="row pull-right">
                            <div class="col-md-12">
                                <div class="tools-action">
                                    <a href="/containertype/">กลับหน้าหลัก</a> |
                                    <button type="submit" class="btn green">บันทึกข้อมูล</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        (function ($) {
            $("#frmEdit").ajaxForm(function (data) {
                if (data.result == true) {
                    killOverlayForm();
                    $.alert.open('info', data.resultMessage, function (r) {
                        window.location.reload();
                    });
                } else {
                    $.alert.open('error', data.resultMessage);
                }
            });
        }(jQuery));

        function OnValidate() {
            var fn = $('#frmEdit').myfunction({
                rules: {
                    txtName: {
                        require: {
                            value: true,
                            message: "กรุณาพิมพ์ชื่อเอเจนท์"
                        }
                    }
                }
            })

            if(fn)
                overLayForm();

            return fn;
        }
    </script>
}


